body{
  margin:0;
  padding:0;
  font-family:Palatino;
  background-image:url(https://i.ibb.co/2YqQdb52/93dc11f2f0fe3fa8c0ee7bb2a8f29f51.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  animation:riseUp 0.8s ease-out;
}
.container{
  animation:riseUp 0.8s ease-out;
}
@keyframes riseUp{
  from{
    opacity:0;
    transform:translateY(30px);
  }
  to{
    opacity:1;
    transform:translateY(0);
  }
}
h1 {
  color:green;
  text-align: center;
  text-shadow: 2px 3px 2px #654321;
}
.box {
  text-align:center;
    color:white;
    border:2px solid black;
    border-radius:15px;
    padding:10px;
    background-color:rgba(255,255,255,0.2);
    font-weight:bold;
  text-shadow:2px 0px 0px black;
   p {
     text-shadow: 2px 3px 2px #654321;
   }
  }
.image-line {
  display: flex;
  gap: 10px;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}
.image-line img {
  width: 100px;
  height: auto;
}
.gifani{
  display:block;
  margin:0 auto;
  width: 100px;
  height:auto;
  justify-content:center;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color:transparent;
  color:transparent;
  text-shadow:5px 2px 0px grey;
}
